/* hide 'Use App' button */
.TopNav__promoButton {
  display: none !important;
}
/* force image viewer to full-width */
main > img {
  width: 100% !important:
}
/* prevent erroneous post content selection in feed */
.AppMainPage .PostContent {
  -webkit-user-select: none; /* Safari */
  user-select: none; /* Standard syntax */
}
/* show full images in image posts in feed */
.AppMainPage .PostContent__image-link {
  padding-top: revert !important;
  background-size: auto !important;
}
.AppMainPage .PostContent__img, .AppMainPage .PostContent__inline-gif {
  position: initial !important;
  object-fit: contain !important;
  height: auto !important;
}
/* show full image gallaries in feed */
.AppMainPage .PostContent__media-wrapper .slideshowContainer {
  height: auto !important;
  padding: 0 !important;
}
.AppMainPage .PostContent__media-wrapper ul {
  display: grid !important;
}
.AppMainPage .PostContent__media-wrapper li {
  position: relative !important;
  grid-area: 1 / 1 / 2 / 2;
}
.AppMainPage .PostContent__media-wrapper img {
  object-fit: contain !important;
}
