/* show full images in image posts in feed */
.PostContent__image-link {
  padding-top: revert !important;
  background-size: auto !important;
}
.PostContent__img {
  position: initial !important;
  object-fit: contain !important;
  height: auto !important;
}
